@model HastaneOtomasyonu.Models.Sehir

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sehir</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.plakaKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.plakaKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefonKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefonKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ulke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ulke.adi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
