@model IEnumerable<HastaneOtomasyonu.Models.Recete>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.muayene)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.muayene.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.receteNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.receteNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.receteNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
