@model HastaneOtomasyonu.Models.Ilac

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ilac</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ilacAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ilacAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ilacMarkasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ilacMarkasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fiyat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ilacKodu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
