@model IEnumerable<HastaneOtomasyonu.Models.Ilac>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ilacAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ilacMarkasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fiyat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ilacAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ilacMarkasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fiyat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ilacKodu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ilacKodu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ilacKodu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
