@model HastaneOtomasyonu.Models.Kisi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kisi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cepNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cepNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.evNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.evNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TCNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TCNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cinsiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medeniDurum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medeniDurum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kisiTuru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kisiTuru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sehir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sehir.adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kanGrubu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kanGrubu.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
